@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    /*font-weight: 800;*/
    font-family: "Alegreya Sans", "Open Sans Light", sans-serif;
}

h1, h3, h4, h5, h6 {
    color: #000;
}

/*h1 {*/
/*    background: -webkit-linear-gradient(#000, #666);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

h2 {
    color: #888;
}

a {
    color: #000;
}

ul, ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
}

.center{
    text-align: center;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.large-only{
    display: none !important;
}

.rotating {
    -webkit-animation: rotating 40s linear infinite;
}

.wrapper {
    /*padding-bottom: 50px;*/
}

.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.logo {
    width: 100%;
    height: 40px;
    display: inline-block;
}

.logo img {
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.pic-card {
    display: flex;
    padding-top: 15px;
}

.pic-card .avatar {
    flex: 1;
    width: 100%;
    height: 80px;
    display: inline-block;
}

.pic-card .avatar img {
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.pic-card .info {
    flex: auto;
}

.pic-card .info h3 {
    margin: 0;
    padding: 0 10px;
}

.pic-card .info ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.pic-card .info li {
    display: inline;
    margin: 0 10px 0 0;
}

.pic-card .info li a {
    text-decoration: none;
    color: #999;
    font-size: .9em;
}

hr {
    font-size: 2em;
    height: 1px;
    background-color: #000;
}

.badge-year {
    /*display: none;*/
    margin-top: -60px;
    letter-spacing: 10px;
    line-height: 25px;
    float: right;
}

.badge-year .year {
    font-size: 2em;
    display: block;
}

.highlight-text {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-break: break-word;
    hyphens: manual;
}


.work-card {
    margin: 40px auto;
    min-width: 100%;
    background-color: #ddd;
    border-radius: 15px;
}

.work-card .body {
    padding: 30px 10px 10px;
    font-size: .9em;
}

.work-card .image {
    min-height: 300px;
    background-color: rgba(100, 100, 100, .5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    transition: background-color;
    transition-duration: 1s;
    background-position: top;
    background-size: cover;
}

.work-card .image:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.work-card .body h4 {
    margin: 0;
    font-size: 1.5em;
}

.work-card .services h5 {
    margin: 10px auto auto;
    font-size: 1em;
}

.work-card .services p {
    margin: 0;
    /*font-style: italic;*/
}

.work-card .stat-box {
    background-color: #ccc;
    display: flex;
}

.work-card .stat-box > div {
    flex: 1;
    padding: 10px;
    display: inline-block;
}

.work-card .stat-box .title {
    display: block;
    color: #666;
}

.work-card .stat-box .value {
    display: block;
    color: #000;
}

.work-card.portrait .header {
    padding: 10px;
    background-color: #eee;
    position: relative;
    min-height: 100px;
}

.work-card.portrait .header h3 {
    font-size: 2em;
    margin: 10px;
}

.work-card.portrait .stat-box {
    background-color: #ccc;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position: absolute;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.work-card.wide h3 {
    font-size: 2em;
    margin: 0;
}

.work-card.wide > div:nth-of-type(1) {
    grid-area: image;
}

.work-card.wide > div:nth-of-type(2) {
    grid-area: body;
}

ul.list li {
    padding: 10px;
    background-color: #eee;
    margin: 10px auto;
    border-radius: 5px;
}

ul.list h3, ul.list p, ul.list small {
    margin: 0;
}

ul.list small {
    text-transform: uppercase;
    font-size: 0.6em;
}

.nav-links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gold;
}

.nav-links ul {
    display: flex;
    text-align: center;
}

.nav-links li {
    flex: 1;
    display: inline;
    padding: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #841c0a;
}

/****
 * Section specifics
 */

#home {
    height: calc(100vh - 165px);
}

#home h1 {
    font-size: 3em;
    line-height: .9em;
    margin-bottom: 0;
}

#home .info-card {
    margin-top: calc(100vh - 550px);
}

#home .info-card .dot {
    height: 100px;
    opacity: .7;
    position: absolute;
    z-index: 0;
    right: 0;
    margin-top: -50px;
    margin-right: -50px;
}

#home .info-card p {
    color: #666;
}

#home .pic-card-container {
    position: relative;
}

#home .pic-card {
    display: none;
    position: absolute;
    width: 100%;
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
    color: #841c0a;
    z-index: 2;
}

#home .pic-card a {
    color: #841c0a;
}

#about {
    padding-bottom: 30px;
}


#history, #blog {
    background-color: #f9f9f9;
}

#works {
    margin-bottom: 30px;
}

#works .grid > .grid-item:nth-child(1) {
    grid-area: item1;
}

#works .grid > .grid-item:nth-child(2) {
    grid-area: item2;
}

#works .grid > .grid-item:nth-child(3) {
    grid-area: item3;
}

#works .grid > .grid-item:nth-child(4) {
    grid-area: item4;
}

#works .grid > .grid-item:nth-child(5) {
    grid-area: item5;
}

#works .grid > .grid-item:nth-child(6) {
    grid-area: item6;
}

#works .grid > .grid-item:nth-child(7) {
    grid-area: item7;
}

#works .grid > .grid-item:nth-child(8) {
    grid-area: item8;
}

#works .grid .highlight-text {
    color: #333;
}

#contact{
    background-color: #f3f3f3;
}

#contact .highlight-text{
    text-align: center;
}

#contact .links {
    height: 200px;
    background: linear-gradient(120deg, #f3f3f3 25%, #000 25%);
    text-align: center;
    color: #fff;
    padding-top: 60px;
}

#contact .links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
}


@media screen and (min-width: 620px) {
    /*h1 {*/
    /*    background: -webkit-linear-gradient(#ffffff, #c4c4c4);*/
    /*    -webkit-background-clip: text;*/
    /*    -webkit-text-fill-color: transparent;*/
    /*}*/

    #about .pic-card,
    #about .pic-card ~ hr,
    .nav-links {
        display: none;
    }

    #home {
        height: auto;
        padding-bottom: 10vh;
        background-color: black;
        color: white;
    }

    #home h1 {
        color: white;
        font-size: 5em;
    }

    #home .info-card {
        margin-top: 10vh;
        display: flex;
        align-items: flex-end;
    }

    #home .info-card p {
        color: #c4c4c4;
    }

    #home .info-card > div {
        flex: 1;
        padding: 20px;
        min-height: 100px;
    }

    #home .pic-card {
        display: flex;
        margin: 10px auto;
    }

    #home .pic-card .info {
        padding: 10px 0;
    }


    #about {
        background-color: gold;
    }

    #about .draft {
        display: flex;
    }

    #about .draft > div {
        flex: 1;
        padding-right: 20px;
    }

    .large-only{
        display: unset !important;
    }

    .small-only{
        display: none !important;
    }

    .badge-year {
        display: block;
    }

    .work-card {
        margin-top: 0;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    }

    .work-card .services {
        margin-bottom: 20px;
    }

    .work-card.wide {
        display: grid;
        background-color: #eee;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas:
    "image body"
    }

    .work-card.wide:nth-of-type(even) {
        grid-template-areas:
    "body image"
    }

    #home .info-card .dot {
        height: 200px;
        opacity: .3;
        margin-top: -150px;
        margin-right: -70px;
    }

    #works .grid .highlight-text {
        font-size: 4em;
        line-height: 1.2em;
    }

    #works .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        column-gap: 10px;
        row-gap: 20vh;
        grid-template-areas:
    "item1 item2"
    "item3 item3"
    "item4 item4"
    "item5 item5"
    "item6 item6"
    "item7 item7"
    "item8 item8"
    }

    #contact{
        background-color: gold;
    }

    #contact .links {
        background: linear-gradient(120deg, gold 25%, #000 25%);
    }

    #contact .links a {
        font-size: 1.5em;
    }
}